 body{background:url(409175.jpg) no-repeat center fixed;
 background-size: cover;
 }
 H1{font-size:300%;
 color:#FFFFFF;
 text-shadow:3px 3px 4px #000000;
 }
 H2{font-size:200%;
 color:#FFFFFF;
 text-shadow:1px 1px 2px #000000;
 border:solid 2px;
 text-align:center;
 }
 H3{font-size:200%;
 color:#FFFFFF;
 text-shadow:1px 1px 2px #000000;
 }
 H4{font-size:150%;
 color:#FFFFFF;
 text-shadow:1px 1px 2px #000000;
 }
 H5{font-size : 120%;
 color:#FFFFFF;
 text-shadow:1px 1px 2px #000000;
 }
 li{font-size:120%;
 color:#070707;
 text-shadow: 0px 0px 1px #000000;
 list-style-type: circle;
 }
 p{font-size:120%;
 color:#0E0E0E;
 text-shadow: 0px 0px 1px #000000;
 }
 img{height:215px;
 width:215px;
 }
