body{
  background:url(409175.jpg) no-repeat center fixed;
  background-size: cover;
}
.page{
  width: 50%;
  background:url(white.jpg);
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 30px;
  text-transform: capitalize;
  font-family: monospace;
}

h1{
  font-size:300%;
  color:#005AFF;
  text-shadow:3px 3px 4px #000000;
}
h2{
  font-size:270%;
  color:#005AFF;
  text-shadow:1px 1px 2px #000000;
  border:solid 2px;
  text-align:center;
  border-radius: 15px;
}
h3{
  font-size:200%;
  color:#005AFF;
  text-shadow:1px 1px 2px #000000;
}
h4{
  font-size:160%;
  color:#005AFF;
  text-shadow:1px 1px 2px #000000;
}
h5{
  font-size : 150%;
  color:#005AFF;
  text-shadow:1px 1px 2px #000000;
}
ul{
  font-size:120%;
  color:#000000;
  list-style-type: circle;
}
p{
  font-size:120%;
  color:#000000;
}
img{
  height:215px;
  width:215px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.profile_picture{
  float:right;
  margin-left: auto;
  margin-right: auto;
  margin-top : -16px;
  border-radius: 55px;
}
.minuscule{
  font-family: monospace;
  text-transform: none;
}
